@model TranslationViewModel
<h1>Put the text for translation</h1>
<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="InputText">Input text</label>
        <input asp-for="InputText" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Translate</button>
</form>

@if (!string.IsNullOrEmpty(Model.TranslatedText))
{
    <p>@Model.TranslatedText</p>
}